In [2]:

%pip install pandas openpyxl
%pip install xlrd

Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: openpyxl in ./venv/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy<2,>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: et-xmlfile in ./venv/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: xlrd in ./venv/lib/python3.10/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import modules here
import pandas as pd

In [4]:
xls = pd.read_excel('./project-files/M3C.xls')
xls["Category"]

0      MICRO
1      MICRO
2      MICRO
3      MICRO
4      MICRO
           ...
640    OTHER
641    OTHER
642    OTHER
643    OTHER
644    OTHER
Name: Category, Length: 645, dtype: object

In [5]:
xls.head()

,Series,N,NF,Category,Starting Year,Unnamed: 5,1,2,3,4,...,38,39,40,41,42,43,44,45,46,47
0,N 1,20,6,MICRO,1975,1,940.66,1084.86,1244.98,1445.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N 2,20,6,MICRO,1975,1,1991.05,2306.40,2604.00,2992.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N 3,20,6,MICRO,1975,1,1461.57,1692.50,2193.82,2459.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N 4,20,6,MICRO,1975,1,744.54,1105.16,1417.40,1838.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N 5,20,6,MICRO,1975,1,4977.18,5248.00,5370.00,6184.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN